<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LocalTune</title>
  <link rel="icon" type="images/logo_topo.png" href="/images/logo_topo.png">
  <link href="/estilo" rel="stylesheet" type="text/css" />
</head>

<body>
   <header>
        <div class="voltar" id="voltar-btn">
            <a href="/">Voltar</a>
        </div>
        <div class="voltar" id="voltar-btn">
            <a href="/cadastroMusico">Cadastro Estabelecimento</a>
        </div>
        <div class="voltar" id="voltar-btn">
            <a href="/cadastro">Cadastro Músico</a>
        </div>
    </header>
  <section>
    <div id="erroContainer" class="erroContainer"></div>
    <h1>Cadastro de Usuário</h1>
    <form action="/auth/cadastrostbl" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="nome">Endereço:</label>
        <input type="text" id="nome" name="endereco" required>
        <br>
        <label for="nome">Telefone:</label>
        <input type="text" id="nome" name="cellfone" required>
        <br>
        <label for="nome">CNPJ:</label>
        <input type="text" id="nome" name="cnpj" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <br>
         <label for="senha">Confirmar Senha:</label>
        <input type="password" id="senha" name="senha2" required>
        <br>
        <select name="option" id="">
        <option value="1">Rock</option>
        <option value="4">MPB</option>
        <option value="3">Samba</option>
        <option value="2">Jazz</option>
        </select>
        <button type="submit">Cadastrar</button>
    </form>
    <p>{{message}}</p>
</body>

</html>