<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LocalTune</title>
  <link rel="icon" type="images/logo_topo.png" href="/images/logo_topo.png">
  <link href="../public/cadastro.css" rel="stylesheet"/>
</head>

<body>
  <header>
        <div class="voltar" id="voltar-btn">
            <a href="/">Voltar</a>
        </div>
        <div class="voltar" id="voltar-btn">
            <a href="/cadastroMusico">Cadastro Estabelecimento</a>
        </div>
        <div class="voltar" id="voltar-btn">
            <a href="/cadastroSTBL">Cadastro Músico</a>
        </div>
    </header>

  <section id="cadastro">
    <div id="erroContainer" class="erroContainer"></div>
    <h1>Cadastro de Usuário</h1>
    <form action="/auth/cadastrouser" method="POST" id="cadastro-form">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senhaC" name="senha" required>
        <br>
        <label for="senha">Confirmar Senha:</label>
        <input type="password" id="senhaC2" name="senha" required>
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <p>{{message}}</p>
</body>

