<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>LocalTune</title>
  <link rel="icon" type="images/logo_topo.png" href="/images/logo_topo.png">
  <link href="./cadastro.css" rel="stylesheet">
  <link href="./estilo.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0"></script>

  <script>
    window.onload = function() {
      var cellField = document.getElementById('cellfone');
      VMasker(cellField).maskPattern("(99) 99999-9999");
    }
  </script>
</head>

<body>
  <header>
    <button class="bo1" onclick="window.history.back()">Voltar</button>
    <div class="bo1">
      <a href="/cadastroMusico" class="bo2">Cadastro Musico</a>
    </div>
    <div class="bo1">
      <a href="/cadastroSTBL" class="bo2">Cadastro Estabelecimento</a>
    </div>
     <img src="/images/baixados.svg" class="logo">
  </header>

  <section id="cadastro" class="cadastras">
    <div id="erroContainer" class="erroContainer"></div>
    <h1>Cadastro de Usuário</h1>
    <form action="/auth/cadastrouser" method="POST" id="cadastro-form">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>
      <br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="cellfone">Telefone:</label>
      <input type="text" id="cellfone" name="cellfone" required>
      <br>
      <label for="Cidade">Cidade:</label>
      <input type="text" id="Cidade" name="endereco" required>
      <br>
      <label for="musicas">Gêneros Musicais:</label>
      <div>
      <input type="checkbox" value="1" name="musicas">Rock
      <input type="checkbox" value="2" name="musicas">Jazz
      <input type="checkbox" value="3" name="musicas">Samba
      <input type="checkbox" value="4" name="musicas">MPB
      </div>
      <br>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required>
      <br>
      <label for="senha2">Confirmar Senha:</label>
      <input type="password" id="senha2" name="senha2" required>
      <br>
      <button type="submit">Cadastrar</button>
    </form>
    <p>{{message}}</p>
  </section>

  <script>
    // Se houver scripts adicionais, coloque aqui
  </script>
</body>

</html>
