<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>LocalTune</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {{!-- <style>
        /* Estilos para o header */
        *{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: 0;
        }
        header {
            background-color: #46346e; /* Cor de fundo do cabeçalho */
            color: #fff; /* Cor do texto no cabeçalho */
            padding: 20px; /* Espaçamento interno do cabeçalho */
            display: flex; /* Define o layout do cabeçalho como flexível */
            justify-content: space-between; /* Alinha os itens do cabeçalho nas extremidades */
            align-items: center; /* Centraliza os itens verticalmente no cabeçalho */
        }
        .bo{
            color: #fff;
            text-decoration: none;
        }

        .text_left {
            margin-left: 20px; /* Espaçamento à esquerda */
        }

        .buscar {
            margin-right: 20px; /* Espaçamento à direita */
        }

        .buscar input[type="text"] {
            padding: 8px; /* Espaçamento interno */
            border-radius: 20px; /* Bordas arredondadas */
            border: none; /* Remove a borda */
            font-size: 16px; /* Tamanho da fonte */
        }

        /* Estilos para o grid */
        #grid {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Duas colunas */
        }

        #left, #right {
            padding: 20px; /* Espaçamento interno */
        }

        /* Estilos para o texto esquerdo */
        #left p {
            color: #000; /* Cor do texto */
            font-family: 'Poppins', sans-serif; /* Fonte */
        }

        /* Estilos para o texto direito */
        #right p {
            color: #363636; /* Cor do texto */
            font-family: 'Poppins', sans-serif; /* Fonte */
        }
    </style> --}}
</head>
<body>
    <header>
        <div class="text_left">
            <h3><a class="bo" href="/logout">Logout</a></h3><!--se logado vira perfil-->
        </div>
        <div class="buscar">
            <input id="idbusca" onkeyup="filtrar()" type="text" placeholder="O que você procura?"/>
        </div>
    </header>
    <div id="grid">
        <div id="left">
            {{username}}
        </div>
        <form action="/auth/uploadimg" method="post">
        <input type="file" name="image">
        <button type="submit">Upload</button>
        </form>
        <div id="right">
            <!-- Conteúdo da tela direita -->
            <!--<div class="fundo2">
                <div class="conta"></div>
                <div class="juncao">
                    <div class="post">
                        <div class="fake-perfil-img2"></div>
                        <p>Lorem ipsum dtia faciur incidunt. Doloremque temporibus libero vero illo!</p>
                    </div>
                    <div class="imgpost">
                        ============[Colocar imagem]===============
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</body>
</html>
