<html lang="pt-br">
<head>
    <title>LocalTune</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo/style.css">
   </head>
<body>
    <header>
        <div class="text_left">
            <h3><a class="bo" href="/login">Login</a></h3><!--se logado vira perfil-->
        </div>
        <div class="text_left">
            <h3><a class="bo" href="/cadastro">Cadastro</a></h3><!--se logado vira perfil-->
        </div>
        <div class="buscar">
            <form action="/auth/busca" method="post">
            <input id="idbusca" onkeyup="filtrar()" type="text" placeholder="O que você procura?"/ name="busca">
            <button type="submit">Search</button>
        </form>
        </div>
    </header>
{{message}}
    <div id="grid">
        <div id="left"> 
        </div>
<!--===========================[tela esquerda]===================-->
        <div id="right">
<!--===========================[Outra tela direita]===================-->

            <!--<div class="fundo2">
            <div class="conta"></div>
            <div class="juncao">
                <div class="post">
                <div class="fake-perfil-img2"></div>
                    <p>Lorem ipsum dtia faciur incidunt. Doloremque temporibus libero vero illo!</p>
                </div>
                <div class="imgpost">
                ============[Colocar imagem]===============
                </div>
            </div>
            </div>-->

        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
