body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #2B282B;
  background-size: 25px 25px;
  background-image: 
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
  display: flex;
  flex-direction: column;
}

.menu-button {
  font-size: 60px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  transition: 0.3s ease;
}
.menu-button:hover {
  color: rgb(114, 0, 190);
  text-shadow: 0 0 15px rgb(132, 0, 255);
}

.open-menu-button {
  font-size: 60px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  margin-left:51px;
  margin-bottom: 0;
  
  transition: 0.3s ease;
}
.open-menu-button:hover {
  color: rgb(114, 0, 190);
  text-shadow: 0 0 50px rgba(132, 0, 255, 0.8);
}

.lateral-menu {
  width: 200px;
  height: 100vh;
  background-color: #252525;
  position: fixed;
  top: 0;
  left: 0; /* Inicia o menu fora da tela à esquerda */
  transition: left 0.5s ease;
  display: flex; /* Inicia oculto */
  flex-direction: column;
  padding: 20px;
}

.lateral-menu.show {
  transition: left 0.5s ease;
  left: 0; /* Mostra o menu deslizando para dentro */
  display: flex; /* Mostra o menu */
}

.menu-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;
  margin-top: 0;
}

.menu-header h2 {
  color: #fff;
  margin: 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.menu-item {
  margin-bottom: 20px;

}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s;
  font-size: 25px;
}

.menu-item a:hover {
  color: #b668ff;
  text-shadow: 0 0 15px rgb(132, 0, 255);
  z-index: 10000;
  left: 100;
  font-size: 5em;
}

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #252525;
  height: 100px;
}

.text_left {
  display: flex;
}
.logo{
  align-self: center;
  width: 300px;
}

.buscar {
  display: flex;
  flex-direction: row;
}

.buscar input {
  color: #000;
  padding: 8px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 200px;
  margin-right: 20px;
  margin: 5px;
  background-color: #252525;
}

.buscar button {
  padding: 8px 20px;
  border: #ffffff solid 2px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #252525;
}

.buscar label {
  color: #fff;
}

.buscar button:hover {
  border: #ffffff solid 2px;
  text-shadow: 0 0 20px rgb(255, 208, 0);
  box-shadow: 0 0 20px rgb(255, 210, 86), inset 0 0 10px rgba(255, 210, 86, 0.726);
}

.bo1, .bo1a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.bo1 {
  background-color: #252525;
}

.bo1a {
  background-color: rgb(255, 211, 77);
  color: #000000;
  transition: all 0.3s ease;
}

.bo1:hover {
  text-shadow: 0 0 15px rgb(255, 211, 77);
  box-shadow: 0 0 20px rgb(255, 211, 77), inset 0 0 10px rgb(255, 211, 77);
}

.bo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
}

.bo3 {
  margin: 0;
  font-size: 2em;
}

.message {
  text-align: center;
  padding: 20px;
  background-color: #f2c8fa;
  color: #46346e;
  margin-top: 20px;
}
