/* Estilo para o cabeçalho */
*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #0a000f;
}
h3{
  margin: 0;
}
.bo2 {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent element */
}

/* Estilo padrão para os elementos bo1 */
.bo1 {
  margin-right: 15px;
  color: #ffffff;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 10px rgb(89, 0, 255);
  box-shadow: 0 0 15px rgb(85, 0, 255), inset 0 0 10px rgb(85, 0, 255);
  transition: all 0.3s ease; /* Adiciona uma transição suave para o hover */
  /* cursor: pointer; */
}

/* Estilo para os elementos bo1 no hover */
.bo1:hover {
  color: #ffffff;
  border: 3px solid rgb(255, 255, 255);
  text-shadow: 0 0 15px rgb(255, 187, 0);
  box-shadow: 0 0 20px rgb(255, 210, 86), inset 0 0 10px rgb(255, 210, 86);
}

header {
  background-color: #0a000f;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_left {
  display: flex;
}

.text_left h3 {
  margin-right: 20px;
}

.buscar input {
  color: #fff;
  padding: 8px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 200px;
  margin-right: 20px;
  text-shadow: 0 0 15px rgb(85, 0, 255);
  box-shadow: 0 0 15px rgb(85, 0, 255);
  margin: 5px;
}

.buscar button {
  padding: 8px 20px;
  border: #ffffff solid 2px;
  text-shadow: 0 0 15px rgb(255, 208, 0);
  box-shadow: 0 0 15px rgb(255, 210, 86), inset 0 0 5px rgba(255, 210, 86, 0.486);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buscar label{
  color: #fff;
  text-shadow: 0 0 15px rgb(85, 0, 255);
}

.buscar button:hover {
  
  border: #ffffff solid 2px;
  text-shadow: 0 0 20px rgb(255, 208, 0);
  box-shadow: 0 0 20px rgb(255, 210, 86), inset 0 0 10px rgba(255, 210, 86, 0.726);
}

/* Estilo para a mensagem */
.message {
  text-align: center;
  padding: 20px;
  background-color: #f2c8fa;
  color: #46346e;
  margin-top: 20px;
}