

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
}

.container {
    text-align: center;
}

.ft_perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgb(47, 0, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centraliza o contêiner de imagem */
    margin-bottom: 20px;
    margin-top: 20px;
}

.img_perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #0a000f;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 700px;
    height: 100px;
    box-shadow: 0 0 15px rgb(47, 0, 255);
    max-width: 600px;
    align-content: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.publicacao_img {
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
}

.modal-body img,
.modal-body video {
    max-height: 500px;
    margin: auto;
}

#publicacoes-container {
    padding: 20px;
}

#publicacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.publicacao {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.333% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publicacao_content {
    text-align: center;
}

.publicacao_img, .publicacao_video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.dados {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Estilização do modal */
.modal-header {
    background: #007bff;
    color: #fff;
}

.modal-content {
    border-radius: 10px;
}

.carousel-item {
    text-align: center;
}

.carousel-item img, .carousel-item video {
    max-width: 100%;
    height: auto;
}

/* Responsividade */
@media (max-width: 992px) {
    .publicacao {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .publicacao {
        width: calc(100% - 40px);
    }
}

 /* Custom CSS to hide video controls */
 video::-webkit-media-controls {
    display: none !important;
}

video::-moz-media-controls {
    display: none !important;
}

video::-ms-media-controls {
    display: none !important;
}

video::media-controls {
    display: none !important;
}