/* login.css */

/* Reset de estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #5a5a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Para posicionar a imagem absolutamente */
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
    z-index: 1; /* Para garantir que a imagem esteja acima do conteúdo */
}

.buscar2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buscar {
    display: block;
    background-color: #ffd000;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra com maior contraste */
    width: 320px;
    text-align: center;
    z-index: 0; /* Garante que o conteúdo esteja acima da sombra */
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    margin-bottom: 8px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 14px;
}

button[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555555;
}
